<div id='js-current_user_id' data-current_user_id='<%= current_user.id %>'></div>
<table class='index_table' id='summary_table'>
  <th></th>
  <% Type.kind_order.each do |type| %>
    <th><%= type.kind %></th>
  <% end %>
  <% Stage.includes(:links).performance_order.each do |stage| %>
    <tr>
      <td><%= stage.performance  %></td>
      <% Type.kind_order.each do |type| %>
        <td>
          <% if stage.end_flag? %>
            -
          <% else %>
            <% if link = stage.links.find_by(type_id: type.id) %>
              <input type='checkbox' checked value='1' class='js-link-post'
                data-url='<%=link_path(link.id) %>'
                data-method='DELETE'
              />
            <% else %>
              <input type='checkbox' value='1' class='js-link-post'
                data-url='<%=links_path %>'
                data-stage_id='<%= stage.id%>'
                data-type_id='<%= type.id%>'
                data-method='POST'
              />
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<script>
  $('.js-link-post').click(function() {
  var checked;
  url = $(this).data('url');
  method = $(this).data('method');
  $.ajax({
      type: method,
      url: url,
    data: {
      stage_id: $(this).data('type_id'),
      type_id: $(this).data('stage_id')
    }
   });
  });
</script>
