<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="all">
<%= stylesheet_link_tag 'print', media: "all" %>

<%= @stage.performance %>の予約半券
<div class="d-flex flex-wrap flex-row justify-content-between">
  <% @tickets.each.with_index(1) do |ticket, i| %>
    <%
      table_classes = ['ticket-card-table']
      table_classes << 'page-brake' if i % (3*6) == 0
    %>
    <table class="<%= table_classes.join(' ') %>">
      <tr class="b-right">
        <td colspan="8" class="ticket-card-table__title ">フリガナ</td>
        <td colspan="4" rowspan="2" class="text-center b-left ticket-card-table__title">取扱者</td>
      </tr>

      <tr class="b-bottom">
        <td colspan="8" class="text-center"><%= ticket.furigana %></td>
      </tr>

      <tr class="b-right">
        <td colspan="8" class="ticket-card-table__title">名前</td>
        <td colspan="4" rowspan="3" class="text-center b-left"><%= ticket&.user&.name %></td>
      </tr>

      <tr class="b-bottom">
        <td colspan="8" rowspan="2" class="text-center"><%= ticket.b_name %></td>
      </tr>

      <tr> </tr>

      <tr class="b-left b-right">
        <td colspan="4" class="b-bottom--thin ticket-card-table__title">支払方法</td>
        <td colspan="4" class="b-bottom--thin ticket-card-table__title">チケット種別</td>
        <td colspan="4" class="b-bottom text-center"><%= ticket.count %>枚</td>
      </tr>

      <tr class="b-left b-bottom b-right">
        <td colspan="4" class="text-center"><%= ticket&.payment_method&.name %></td>
        <td colspan="4" class="text-center"><%= ticket&.type&.kind %></td>
        <td colspan="4" class="text-center"><%= ticket.calc_price if ticket.type.present? %>円</td>
      </tr>

      <tr class="b-right b-bottom--thin ticket-card-table__title">
        <td colspan="12" class="b-right">備考</td>
      </tr>

      <tr class="b-bottom b-right">
        <td colspan="12" rowspan="2" class="text-center ticket-card-table__tiny-text"><%= ticket.comment2&.truncate(88) %></td>
      </tr>

      <tr></tr>

      <tr class="b-right b-bottom--thin ticket-card-table__title">
        <td colspan="6">予約連番</td>
        <td colspan="6">予約日</td>
      </tr>

      <tr class="b-bottom b-right">
        <td colspan="6" class="text-center"><%= ticket.id %></td>
        <td colspan="6" class="text-center"><%= ticket.created_at&.strftime('%Y年%m月%d日') %></td>
      </tr>
    </table>
  <% end %>
</div>
