<style>
table.index_table {
  width: auto;
}
.col {
  width: 100px;
}
</style>
<div id='js-current_user_id' data-current_user_id='<%= current_user.id %>'></div>
チケット枚数の見方（凡例）
<p>
  <% types = Type.all.includes(:color) %>
  <% sample_sum_of_seat = Type.sum(:seat) %>
  <%= sample_sum_of_seat %><% types.each do |t| %><span style="color: <%= t.color.color_code %>;">(1)</span><% end %>
</p>
<% types.each do |t| %>
  <div style="color: <%= t.color.color_code%>;">
    この色は、<%= t.kind %>チケットの販売枚数を表します。1枚の<%= t.kind %>チケットは、席を<%= t.seat %>席分、消費します。
  </div>
<% end %>
<p>
黒色は、各種類のチケットの合計が何席分の売り上げなのかを示す。
</p>
上の例では、<%= sample_sum_of_seat %> 席埋まっており、内訳が「<% types.each do |t| %><span style="color: <%= t.color.color_code %>"><%= t.kind %>：1 </span><% end %>」であることをしめす
<table class='index_table' id='summary_table'>
  <thead>
    <th></th>
    <% Stage.performance_order.each do |stage| %>
      <th class="col"><%= stage.performance %></th>
    <% end %>
    <th class="col">集計</th>
  </thead>
  <tbody>
    <tr id="summary_line"></tr>
    </tr>
    <% if current_user.admin? %>
      <tr>
        <th class="col">販売済</th>
        <% total = 0 %>
        <% @stage_ticket_seats_info.each do |ticket_seats_info| %>
          <td>
            <%= ticket_seats_info[:total_seats_count] %>
            <% ticket_seats_info[:counts_by_type].each do |count_by_type| %>
              <span style='color: <%= count_by_type[:color_code] %>;'>(<%= count_by_type[:count] %>)</span>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= @sum_of_stage_ticket_seats[:total_seats_count] %>
          <% @sum_of_stage_ticket_seats[:count_by_type_summary].each do |_type_id, summary| %>
            <span style='color: <%= summary[:color_code] %>;'>(<%= summary[:count] %>)</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr><td colspan="<%= Stage.performance_order.size + 2%>"></td></tr>
    <tr>
      <th class="col">座席</th>
        <% @stages.each do |stage| %>
          <td><%= stage.total %></td>
        <% end %>
        <td><%= @sum_of_stage_total%></td>
    </tr>
    <tr>
      <th class="col">充足率</th>
      <% @stages.each do |stage| %>
        <td><%= stage.calc_adequacy_ratio.to_i %>%</td>
      <% end %>
      <td><%= ((@sum_of_stage_ticket_seats[:total_seats_count].to_f / @sum_of_stage_total.to_f) * 100).to_i %>%</td>
    </tr>
    <% if current_user.admin? %>
      <tr><td colspan="<%= Stage.performance_order.size + 2%>"td></tr>
      <tr>
        <th class="col">金額</th>
        <% Stage.performance_order.each do |stage| %>
          <td><%= stage.sumup_ticket_price %></td>
        <% end %>
        <td><%= Ticket.sumup_all_ticket_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  var current_user_id = $('#js-current_user_id').data('current_user_id');
  $.ajax({
    url:' /users/' + current_user_id + '/ticket_summary.json',
    type: 'GET',
    data:{
    }
  })
  // Ajaxリクエストが成功した時発動
  .done( (datas) => {
    // $('.result').html(data);
    console.log(datas);
    datas.forEach( (data) => {
      var row_id = 'table_row_' + data.user_id
      $("#summary_line").before($("<tr id='" + row_id + "'></tr>"));
      $('#' + row_id).append($("<th class='col'></th>").text(data.user_name));
      data.counts_by_stage.forEach( (val) => {
        var content = val.total_seats_count;
        val.counts_by_type.forEach( (count_by_type) => {
          content += '<span style="color: ' + count_by_type.color_code + '";>(' + count_by_type.count + ')</span>'
        });

        $('#' + row_id).append($("<td></td>").html(content));
      });
      var summary_count_by_type_html = ''
      for (var summary_count_by_type in data.summary_counts_by_type) {
        item = data.summary_counts_by_type[summary_count_by_type];
        summary_count_by_type_html += '<span style="color: ' + item.color_code  + ';">(' + item.count  + ')</span>';
      }
      $('#' + row_id).append($("<td></td>").html(
        data.total_counts.summary_total_seats + summary_count_by_type_html
      ));
    });
  })
</script>

<%= render 'show_ticket_summary_by_payment_method' %>
