<div id='js-current_user_id' data-current_user_id='<%= current_user.id %>'></div>
チケット枚数の見方（凡例）
<p>
  <% types = Type.all.includes(:color) %>
  <% sample_sum_of_seat = Type.sum(:seat) %>
  <%= sample_sum_of_seat %><% types.each do |t| %><span style="color: <%= t.color.color_code %>;">(1)</span><% end %>
</p>
<% types.each do |t| %>
  <div style="color: <%= t.color.color_code%>;">
    この色は、<%= t.kind %>チケットの販売枚数を表します。1枚の<%= t.kind %>チケットは、席を<%= t.seat %>席分、消費します。
  </div>
<% end %>
<p>
黒色は、各種類のチケットの合計が何席分の売り上げなのかを示す。
</p>
上の例では、<%= sample_sum_of_seat %> 席埋まっており、内訳が「<% types.each do |t| %><span style="color: <%= t.color.color_code %>"><%= t.kind %>：1 </span><% end %>」であることをしめす
<table class='index_table' id='summary_table'>
  <th></th>
  <% Stage.performance_order.each do |stage| %>
    <th><%= stage.performance %></th>
  <% end %>
  <th>集計</th>
  <tr id="summary_line">
    <th>座席</th>
      <% @stages.each do |stage| %>
        <td><%= stage.total %></td>
      <% end %>
      <td><%= @sum_of_stage_total%></td>
  </tr>
  <tr>
    <th>販売済</th>
    <% total = 0 %>
    <% @stage_ticket_seats.each do |ticket_seats| %>
      <td><%= ticket_seats %></td>
    <% end %>
    <td><%= @sum_of_stage_ticket_seats %></td>
  </tr>
  <tr>
    <th>充足率</th>
    <% @adequacy_ratios.each do |ratio| %>
      <td><%= ratio.to_i %></td>
    <% end %>
    <td><%= ((@sum_of_stage_ticket_seats.to_f / @sum_of_stage_total.to_f) * 100).to_i %></td>
  </tr>
</table>
<script>
  var current_user_id = $('#js-current_user_id').data('current_user_id');
  $.ajax({
    url:' /users/' + current_user_id + '/ticket_summary.json',
    type: 'GET',
    data:{
    }
  })
  // Ajaxリクエストが成功した時発動
  .done( (datas) => {
    // $('.result').html(data);
    console.log(datas);
    datas.forEach( (data) => {
      var row_id = 'table_row_' + data.user_id
      $("#summary_line").before($("<tr id='" + row_id + "'></tr>"));
      $('#' + row_id).append($("<td></td>").text(data.user_name));
      data.counts_by_stage.forEach( (val) => {
        var content = val.total_seats_count;
        val.counts_by_type.forEach( (count_by_type) => {
          content += '<span style="color: ' + count_by_type.color_code + '";>(' + count_by_type.count + ')</span>'
        });

        $('#' + row_id).append($("<td></td>").html(content));
      });
      var summary_count_by_type_html = ''
      for (var summary_count_by_type in data.summary_counts_by_type) {
        item = data.summary_counts_by_type[summary_count_by_type];
        summary_count_by_type_html += '<span style="color: ' + item.color_code  + ';">(' + item.count  + ')</span>';
      }
      $('#' + row_id).append($("<td></td>").html(
        data.total_counts.summary_total_seats + summary_count_by_type_html
      ));
    });
  })
</script>
